div.highlighter-rouge {
  background-color: #f5f6fa;
}

div.highlight {
  border: none;
}

.site-footer {
  display: none;
}

.highlight, pre.highlight {
  background: transparent;
}

.search-input:focus-within {
  outline: none;
}

